html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%
}

nav{
    width: auto;
    height: 100%;
    display: inline-block;
    border-right: 1px solid black;
}

.menu{
    padding: 0px;
    margin: 0px;
}

.menu li{
    background: white;
    width: 100px;
    height: 100px;
    text-align: center;
    border-top: 1px solid black;
}

.menu li:hover{
    background: gray;
}

.menu li a{    
    color: black;
    line-height: 100px;
    display: block;
    text-decoration: none;
}

section{
    display: inline-block;
    position: absolute;
    background: white;
    border-right: 1px solid black;
    width: 500px;
    height: 100%;
}

.title{
    text-align: center;
}

.title h1,p{
    display: inline-block;
}

.section{
    /* border: 1px solid red; */
    height: 100%;
    text-align: center;
}

.section form{
    display: block;
    /* border: 1px solid black; */
    width: 60%;
    margin: auto;
}


.section form input{
    width: 100%;
}

.add{
    margin: 20px;
    padding: 10px;
}

.addContainer p, form, button{
    display: block;
}


.form input{
    display: block;
    width: 100%;
}

.select{
    display: block;
}

.select p, select{
    display: inline-block;
}

.form button{
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}